/* general styles */
html, body {
    height: 100%;
    width: 100%;
}

/* padded section */
.pad-section {
    padding: 50px 0;
}

.pad-section img {
    width: 100%;
}

/* vertical-centered text */
.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

/* additional sections */
#main {
    background: #87CEFA no-repeat center center fixed;
    display: table;
    height: 50%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer {
    padding: 20px 0;
}

footer .glyphicon {
    color: #333333;
    font-size: 60px;
}

footer .glyphicon:hover {
    color: #306d9f;
}

.scroll-top {
    position: fixed;
    bottom: 0;
    left: 6%;
    z-index: 100;
    background: #f2f3f2;
    font-size: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.scroll-top a:link, .scroll-top a:visited {
    color:#222;
}